name: "Deploy"
on:
  workflow_dispatch:
    branches:
      - master
    inputs:
      environment:
        type: choice
        description: 'Environment Name'
        required: true
        options:
        - Sandbox
        - Design
      app_environment:
        type: choice
        description: 'Application Environment'
        required: true
        options:
        - dev
        - local

jobs:
  deploy:
    defaults:
      run:
        working-directory: mulesoft-experiment
    runs-on: ubuntu-latest
    env:
      ANYPOINT_USERNAME: ${{ secrets.ANYPOINT_USERNAME }}
      ANYPOINT_PASSWORD: ${{ secrets.ANYPOINT_PASSWORD }}
      ANYPOINT_CLIENT_ID: ${{ secrets.ANYPOINT_CLIENT_ID }}
      ANYPOINT_CLIENT_SECRET: ${{ secrets.ANYPOINT_CLIENT_SECRET }}
      ANYPOINT_APPLICATION_NAME: "mulesoft-experiment"
      ANYPOINT_ENVIRONMENT: ${{ github.event.inputs.environment }}
      APPLICATION_ENVIRONMENT: ${{ github.event.inputs.app_environment }}
      SECURE_KEY: ${{ secrets.SECURE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: "8"
          distribution: "adopt"
          cache: maven
      - name: Deploy
        run: mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B -s .github/settings.xml clean deploy -DmuleDeploy